<html ng-app="adminx">

  <head>

  </head>

  <body ng-controller="AdminX as minchia">
    <h1>{{minchia.title}}</h1>
  </body>

  <script src="vendor.bundle.js"></script>
  <script src="main.bundle.js"></script>
</html>